extends layout

block content
    div(id="app")
    script(src="/js/manifest.7b5447d8215f59ba1be3.js")
    script(src="/js/vendor.34c17374e4fb8199b968.js")
    script(src="/js/app.febeb6128b7bf43c87de.js")